<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>AkiNN - Base de connaissances</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon_32.png') }}" sizes="32x32"/>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon_64.png') }}" sizes="64x64"/>
        <!--<link rel="stylesheet" type="text/css" href="../static/css/style.css">-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        <header id = 'knowledge_header'>
            <h1>AkiNN</h1>
            <h2>Base de connaissances</h2>
        </header>
        
        <main id = 'main_knowledge'>
            <div>
                <h3>La base de faits ({{ nb_facts }})</h3>
                <h4>Faits intermédiaires</h4>
                <ul class = 'col_ul'>
                {%for f in facts%}
                    {% if f.type != 'terminal' and f.type != 'article' %}
                        <li>{{ f }}</li>
                    {% endif %}
                {%endfor%}
                </ul>

                <h4>Faits terminaux</h4>
                <ul class = 'col_ul'>
                {%for f in facts%}
                    {% if f.type == 'terminal' %}
                        <li>{{ f }}</li>
                    {% endif %}
                {%endfor%}
                </ul>

                <h4>Faits bibliographiques</h4>
                <ul class = 'col_ul'>
                {%for f in facts%}
                    {% if f.type == 'article' %}
                        <li>{{ f }}</li>
                    {% endif %}
                {%endfor%}
                </ul>
            </div>

            <div>
                <h3>La base de règles ({{ nb_rules }})</h3>
                <ul>
                {%for i in range(0, nb_rules)%}
                    <li>{{ rules[i] }}</li>
                {%endfor%}
                </ul>
            </div>
        </main>
        
        <footer>
        Made with <img src = '../static/img/heart.png' /> by Simon et Gabriel
        </footer>
    </body>
</html>
