* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto'
}

header {
    height: 100vh;
    width: 100vw;
    background: url('../img/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg');
    background-size: cover;
}


header h1 {
    color: #fffdf0;
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    font-size: 5em;
    padding-top: 100px;
}

main {
    height: 100vh;
    width: 100vw;
}

form {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

#flex_input {
    
}

label {
    cursor: pointer;
}